/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    margin: 0;
}

button {
    padding: 20px;
    margin: 20px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

/* Estilos específicos para index.html */
#login-form {
    margin-top: 50px;
}

input {
    margin: 10px;
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.hidden {
    display: none;
}

#welcome-message h2 {
    color: #4CAF50;
}

/* Estilos específicos para home.html y finca.html */
.page-container {
    margin-top: 50px;
}
