/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

h1 {
    background-color: #6A0DAD; /* Morado oscuro */
    color: white;
    padding: 20px;
    margin: 0;
}

button {
    padding: 20px;
    margin: 20px;
    cursor: pointer;
    background-color: #9370DB; /* Violeta claro */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #BA55D3; /* Lila */
}

/* Animaciones */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

/* Estilos específicos para index.html */
#login-form {
    margin-top: 50px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    animation: fadeIn 1s;
}

input {
    margin: 10px;
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.hidden {
    display: none;
}

#welcome-message {
    animation: slideIn 0.5s;
}

#welcome-message h2 {
    color: #9370DB; /* Violeta claro */
}

/* Estilos específicos para home.html y finca.html */
.page-container {
    margin-top: 50px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}
